[Unit]
Description=Rabbit Listner for Development Packages

[Service]
ExecStart=/home/matt/git/rabbitMQMerged/servdep.php
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=15


