[Unit]
Description= Rabbit Exchange Server 

[Service]
ExecStart=/home/matt/git/RabbitServer/switchingServer.php
ExecReload=/home/matt/git/RabbitServer/switchingServer.php reload
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
RestartSec=15
PIDFile=/run/rabbitExchange.pid


